// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-button, ion-toolbar, ion-searchbar {
    --ion-color-base: transparent !important;
    --background: transparent;
    --color: #777;
    --background-activated: #f5f6f9;
    --color-activated: #472daa;
}
ion-button{
    --box-shadow: none;
}

ion-title{
    float:right;
}

ion-range{
    --knob-size: 25px;
    --bar-height: 4px;
    --height : 50px;
    --knob-background: #56CCF2;  /* fallback for old browsers */
    
    --bar-background-active : rgb(174, 213, 226);  /* fallback for old browsers */
    --bar-background-active : -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    --bar-background-active : linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --pin-background : #56CCF2;

}
ion-content{
    --background : #fafafa;
}