    ion-label{
        color: #222;
    }
    ion-header{
        position: relative;
    }
    .searchbar-wrapper {
        transition: width 1s ease-in-out;
        float: right;
    }
    .searchbar-wrapper.opened{
        width: 100%;
    }
    .searchbar-wrapper.closed{
        width: 45px;
    }
    .result-list{
        position: absolute;
        z-index: 9999999;
        width: 100%;
    }

    .output-result{
        position: absolute;
        width: 100%;
        height: 85%;
        background: white;
        text-align: center;
        padding-top: 14px;
        font-size: 20px;
        color: #222;
    }
