.accept-all-requests{
    text-align: right;
}
app-autocomplete-input{
    width: 89%;
    right: 0;
    position: absolute;
}
.width-80{
    width: 80%;
    position: absolute;
    right: 0;
}
.autocomplete-title{
    position: absolute;
    z-index: 1;
    margin-top: 7px;
}
