<ion-content padding *ngIf="proposal">
  <ion-item>
    <ion-button (click)="location.back()">
        <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-button>
    <ion-title>
      <ion-label>
        {{proposal.title}}
      </ion-label>
    </ion-title>
  </ion-item>
  <ion-label>{{proposal.description}}</ion-label>
  <div *ngIf="participants && participants.length > 0">
    <h3>partecipants</h3>
    <div *ngFor="let user of participants">
      <app-user-avatar [userInfo]="user"></app-user-avatar>
      {{user.name}}
    </div>
  </div>
  </ion-content>

  <ion-footer>
      <div [ngSwitch]="state">
        <ion-button *ngSwitchCase="'NOT_REQUESTED'" (click)="join()" fill="clear" expand="full"  >ask for join!</ion-button>
        <ion-button *ngSwitchCase="'PENDING'" [disabled]="true" fill="clear" expand="full"  >request pending, stay tuned!</ion-button>    
        <ion-button *ngSwitchCase="'DENIED'" [disabled]="true" fill="clear" expand="full"  >request pending, stay tuned!</ion-button>    
      </div>
  </ion-footer>