#profileImage{
    width: 80px;
    height: 80px;
    margin: 30px auto;
    border: 2px solid #222;
}


.user-name{
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #222;
    border-radius: 50%;
}
.gallery{
    padding: 30px
}

.one-image {
    margin: 2px;
}