#profileImage{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border: 2px solid #222;
}


.user-name{
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    margin: 30px auto;
    display: block;
}
.gallery{
    border-top: 0.5px solid #ccc;
    padding-top: 30px;
    margin-top: 30px;

}

.one-image {
    margin: 2px;
}