<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="" *ngIf="userInfo">
    <p>{{userInfo.name}} {{userInfo.surname}}</p>
    <ion-avatar id="profileImage" >
      <ion-img [src]="userInfo.img" ></ion-img>
    </ion-avatar>
  </div>
  
  <h3 *ngIf="images.length == 0" text-center>please select image to convince others to participate and get involved!</h3>
  <ion-list>
    <ion-item *ngFor="let img of images; index as pos" text-wrap>
      <ion-thumbnail slot="start">
        <ion-img [src]="img"></ion-img>
      </ion-thumbnail>
      <ion-button slot="end" fill="clear" (click)="startUpload(img)">
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  
  
  
  
  
  
  <div id="own-proposals-section" *ngIf="ownProposals && ownProposals.length > 0 ">
    <ion-title>created by you</ion-title>
    <ion-list>
      <ion-item *ngFor="let proposal of ownProposals">
        {{proposal.name}}, {{proposal.description}}
      </ion-item>
    </ion-list>
  </div>
  
  <div id="joined-section" *ngIf="joinedProposals && joinedProposals.length > 0 ">
    <ion-title>joined by you</ion-title>
    <ion-list>
      <ion-item *ngFor="let proposal of joinedProposals">
        {{proposal.name}}, {{proposal.description}}
      </ion-item>
    </ion-list>
  </div>
  
  <!-- <div id="requested-section" *ngIf="requestedProposals && requestedProposals.length > 0 ">
    <ion-title>requested by you</ion-title>
    <ion-list>
      <ion-item *ngFor="let proposal of requestedProposals">
        {{proposal.name}}, {{proposal.description}}
      </ion-item>
    </ion-list>
  </div> -->
  
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Select Image
    </ion-button>
  </ion-toolbar>
</ion-footer>