<ion-header>
  <ion-toolbar>
    <ion-label float="right" routerLink="/profile"  routerDirection="forward">
      <ion-icon class="user-profile-icon" name="person"></ion-icon>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-select slot="end" selectedText="filters" [interfaceOptions]="filterSelectOptions" multiple="true" (ionChange)="onFilterChanged()" [(ngModel)]="filter" >
      <ion-select-option value="useMyPosition" selected="selected">your location</ion-select-option>
      <ion-select-option value="useMyLanguage" selected="selected">your language</ion-select-option>
    </ion-select>
  </ion-item>
  <app-autocomplete-input [static]="true" *ngIf="!useMyPosition" ngDefaultControl  [placeholder]="'district'" (onSearchResult)="onZoneSelected($event)" [region]="selectedCity" ></app-autocomplete-input>
  <ion-range (mouseup)="onRangeChanged()" (touchend)="onRangeChanged()" class="col-md-12" pin="true" [(ngModel)]="maxDistance"  min="50" max="50000" step="2">
    <ion-icon size="small" slot="start" name="walk"></ion-icon>
    <ion-icon slot="end" name="walk"></ion-icon>
  </ion-range>
  <ion-button id="get-proposal-button" (click)="findProposals()">
    get all
  </ion-button> 
  <ion-list>
    <ion-card  *ngFor="let proposal of proposals" routerDirection="forward">
      <ion-card-header>
        <app-user-avatar [userInfo]="proposal.ownerInfo"></app-user-avatar>
        <div class="userInfo" >
          <ion-card-subtitle [routerLink]="['/proposal-detail/', proposal.id]">{{proposal.ownerInfo?.name}} {{proposal.ownerInfo?.surname}}</ion-card-subtitle>
          <ion-card-title class="proposal-title"  [routerLink]="['/proposal-detail/', proposal.id]">{{proposal.title}}</ion-card-title>
          <ion-label class="timestamp" position="stacked">{{proposal.createdAt}}</ion-label>
        </div>
        <div class="dots" (click)="presentPopover($event, proposal)">
          <ion-icon name="more"></ion-icon>
        </div>
      </ion-card-header>
      <ion-card-content class="event-description" [routerLink]="['/proposal-detail/', proposal.id]" >
        <!-- <ion-img *ngIf="proposal.img" class="proposalImg" [src]="proposal.img"></ion-img> -->
        {{proposal.description}}
      </ion-card-content>
    </ion-card>
  </ion-list>
  
  
  
  
  <!-- <ion-button (click)="watchLocation()">
    Watch Location Updates
  </ion-button>
  <ion-button (click)="stopLocationWatch()">
    Stop Location Watch
  </ion-button>
  
  <div *ngIf="geoLatitude">
    <p>Latitude : {{geoLatitude}}</p>
    <p>Longitude : {{geoLongitude}}</p>
    <p>Accuracy : {{geoAccuracy}}</p>
    <p class="address-text">
      
      <span class="watch-text" *ngIf="isWatching; else notWatching">
        Watching Location
      </span>
      <ng-template #notWatching>
        Location Watch Stopped
      </ng-template>
      
      <br>Address : {{geoAddress }}
    </p>
  </div> -->
</ion-content>
<ion-footer>
  <ion-button fill="clear" expand="full" (click)="openCreateProposalModal()">
    <ion-icon name="add"></ion-icon>
  </ion-button>
</ion-footer>