
#get-proposal-button{
    margin: 0 auto;
    display: block;
    width: 50%;
}
.proposalImg{
    max-width: 60%;
    margin: 0 auto;
}
ion-card{
    outline: none;
}
.proposal-title{
    font-size: 15px;
}
app-user-avatar{
    width: 50px;
    height: 50px;
    float: left;
    z-index: 99;
    .photo-src{
        width: 50px;
        height: 50px;
        float: left;  
    }
}
.timestamp{
    font-size: 10px;
}
.userInfo{
    margin-right: 30px;
    padding-left: 10px;
    display: table;
}
.proposal-header{
    display: inline-flex;
    width: 100%;
}
.user-profile-icon{
    height: 50px;
    width: 50px;
    border: 2px solid;
    float:right;
    // padding: 7px;
}
#profileImage{
    width: 50px;
    height: 50px;
}
.profile-image{
    height:40px;
    width: 40px;
    border: 1px solid #222;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    float: right;
    margin-right: 7px;
}

.dots{
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    margin: 15px;
}
// .dots:after {
//     content: '\2807';
//     font-size: 32px;
// }