.close-fake {
    --background: transparent;
    ion-icon {
        font-size: 2rem;
    }
    margin-top: 15px;
}
 
ion-content {
    --background: rgba(44, 39, 45, 0.84);
}


#profileImage{
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 300px;
}
.profileImageSrc{
    position: absolute;
    opacity: 0.4;

}
.close-fake {
    --background: transparent;
    ion-icon {
        font-size: 2rem;
    }
    margin-top: 15px;
}
 
.bottom{
    position: absolute;
    bottom: 0;
}