<ion-header>
  <ion-toolbar>
      <ion-button (click)="location.back()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </ion-button>
    <!-- <ion-title>view-user-profile</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="userInfo">
    <div class="like-button-container">
        <ion-button class="star" clear block [class.unlike]="!userInfo.iLike" [class.like]="userInfo.iLike" (click)="userInfo.iLike ? unprops() : props()">
            <ion-icon name="star"></ion-icon>
        </ion-button>
        <div class="like-count-wrapper">
          <span class="like-count" *ngIf="likeCount && likeCount > 0">{{ likeCount }}</span>
        </div>
      </div>
  <div class="userInfo" >
      <ion-label class="user-name">{{userInfo?.name}} {{userInfo?.surname}}</ion-label>

    <ion-avatar id="profileImage" >
      <ion-img [src]="userInfo.profileImg" ></ion-img>
    </ion-avatar>
  </div>
  
  <div class="gallery">
    <!-- Responsive Layout with Ion Grid-->
    <ion-grid>
      <ion-row *ngFor="let rowData of images; index as pos">
        <ion-col col-6 col-md-4 col-xl-3 *ngFor="let img of rowData; index as pos">
          <div class="image-container">
            <ion-img *ngIf="img" [src]="img" (click)="fullscreen(img)"></ion-img>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
